
public class HelloWorld {

    String string = 'abc';
    
    public static void main(String[] args) {
        // Prints "Hello, World" to the terminal window.
        System.out.println("Hello, World" + string);
    }

}
// test edit
